# Eclipse
.classpath
.project
.settings/

# Intellij
.idea/
*.iml
*.iws

# Mac
.DS_Store

## Maven:
.mvn/wrapper/maven-wrapper.jar
/.mvn/
/mvnw
/mvnw.bat
mvnw.cmd
/log/
*.log*
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.next
release.properties
springboot-servicio-productos/mvnw

springboot-servicio-productos/.mvn/wrapper/maven-wrapper.jar

springboot-servicio-productos/.mvn/wrapper/maven-wrapper.properties

springboot-servicio-items/.mvn/wrapper/maven-wrapper.jar

springboot-servicio-items/.mvn/wrapper/

springboot-servicio-items/mvnw

springboot-servicio-eureka-server/.mvn/wrapper/

springboot-servicio-eureka-server/mvnw

springboot-servicio-zuul-server/mvnw

springboot-servicio-zuul-server/.mvn/wrapper/
